---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

<p><img src="images/aq-whole-erickson.jpg"></p>

<p><strong><a href="{{site.baseurl}}/altar-q">Copan Altar Q</a></strong> constitutes one of the most complete king lists
    remaining from the ancient Maya world. With each of the 16 kings in the
    Classic era dynasty, the altar tracks roughly four hundred years of the
    city’s history. Seated at the foot of the stairway to 10L-16, the Temple
    of the Founder, this altar connects his last successor Yax Pasaj Chan Yopaat
    to Yax K'uk' Mo' himself. Explore each of the kings and their own monumental creations
    below, searching for the answers to the following questions:</p>
    <ul>
    <li>How did the historical situation in Copan affect their monuments?</li>
    <li>What were the kings’ rhetorical strategies?</li>
    <li>Where did these motifs come from?</li>
    </ul>

<p>To start your exploration, click on the king's portrait on the Altar.</p>
<p>If you'd like to search for a specific monument, check the <strong>Monuments
    List</strong> tab above.</p>

<br>

    {% assign lineage = site.kings | sort: 'aqorder' %}
    <p float="left">
    {% for king in lineage %}
      <a href="{{site.baseurl}}{{king.permalink}}">
          <img src={{site.baseurl}}{{king.image}}></a>
    {% endfor %}
    </p>

<h5><strong>First Row</strong> - Popol Hol (2), Yax K'uk' Mo' (1), Yax Pasaj Chan Yopaat (16), K'ahk' Yipyaj Chan K'awiil (15)</h5>
<h5><strong>Second Row</strong> - Ruler 6, Ruler 5, K'altuun Hix (4), Ruler 3 </h5>
<h5><strong>Third Row</strong> - Moon Jaguar (10), Ruler 9, Wi' Yohl K'inich (8), Bahlam Nehn (7)</h5>
<h5><strong>Fourth Row</strong> - K'ahk' Joplaj Chan K'awiil (14), Waxaklajuun Ubaah K'awiil (13), K'ahk' Uti' Witz K'awiil (12), Butz' Chan (11)</h5>

<br>

    <p><strong>Image Sources</strong></p>
    <ul>
        <li>First row - "<a href="https://commons.wikimedia.org/wiki/File:Copan_Museum,_Altar_Q,_dynastic_rulers_(15771343718).jpg">
            Copan Museum, Altar Q, dynastic rulers</a>" (Edited), by Arian Zwegers, is licensed under
            <a href="creativecommons.org/licenses/by/2.0">CC BY 2.0</a></li>
        <li>All other photos Courtesy of Dr. Clark Erickson (Edited)</li>
    </ul>



</div>
